language: java
os: linux
dist: bionic
jdk: openjdk8
install: mvn ${SPARK} -Ptravis -Pnetlib -DskipTests=true -nsu -B install
script:
  - mvn ${SPARK} ${JACOCO} -Ptravis -Pnetlib -q -nsu -B verify
  - find $HOME/.m2/repository/com/cloudera/oryx -path "*SNAPSHOT/*" -delete
  - find $HOME/.m2/repository/com/cloudera/oryx -name "*SNAPSHOT" -type d -delete
env: JACOCO=-Pjacoco
cache:
  directories:
    - $HOME/.m2
git:
  depth: 10
after_success: if [ -n "$JACOCO" ]; then bash <(curl -s https://codecov.io/bash); fi
