<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>oryx</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
<!--
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.cloudera.oryx.serving.OryxApplication</param-value>            
        </init-param>        
-->
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>oryx</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
